<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <link rel='stylesheet' type='text/css' href='/static/style.css' >
<!--        <style type="text/css">
           .error {
                color: red;
            }

    
            label {
                align-items: left;   
            }
            label input {
                width:100px;
            }

            h1 {
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        </style> -->
    </head>
    <body>

        {% block content %}
        {% endblock %}

    </body>
</html>