<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <style type="text/css">
            .error {
                color: red;
            }
    
            label {
                margin-left: 20px;
                align-items: right;   
            }
            label input {
                width:100px;
                align-items: right;
            }

            h1 {
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        </style>
    </head>
    <body>

        {% block content %}
        {% endblock %}

    </body>
</html>