<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <style type="text/css">
            .error {
                color: red;
            }
    
            input {
                width: 100px;
                position:fixed;
                margin-left: 20px;
                align-items: center;

                
            }
            h1 {
                font-family:cursive;
            }
        </style>
    </head>
    <body>
        <h1>Signup</h1>

        {% block content %}
        {% endblock %}

    </body>
</html>