{% extends "base.html" %}

{% block content %}
<form action="/welcome" method="POST">

    <p>
    <label for="name" >Username
    
    <input id="name" type="text" name="username" value='{{username}}'/>
    </label> 
    </p>
    <p class="error">{{name_error}}</p>

    <p>
    <label>Password
    <input type="password" name="password" value='{{password}}' />
    </label>
    </p>
    <p class="error">{{word_error}}</p>

    <p>
    <label>Verify Password    
    <input type="password" name="verify_password" value='{{verify_password}}'/>
    </label>
    </p>
    <p class="error">{{verify_error}}</p>

    <p>
    <label>Email (optional)
    <input type="text" name="email" />
    </label>
    </p>

    <input type="submit" value="Submit" />
</form>


{% endblock %}